#giftCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  #giftCardHeader {
    color: var(--wildGreen);
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--wildGreen);
    margin-bottom: 1rem;
  }
  
  /* Return.jsx */
  
  #success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  
  #successHeader {
    color: var(--wildGreen);
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--wildGreen);
    margin-bottom: 1rem;
  }
  
  #successContainer {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--wildGreen);
  }
  
  .successTag {
    max-width: 480px;
    text-align: center;
  }
  
  #custEmail {
    font-weight: bold;
  }
  
  #bottomTag {
    margin-top: 1rem;
  }
  