#shopAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

#mainShopHeader {
  color: var(--wildGreen);
  font-weight: bold;
  margin-bottom: 1rem;
}

.shopHeader {
  color: var(--wildGreen);
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--wildGreen);
  margin: 1rem 0rem 1rem 0rem;
}

#shopIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopIcon {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

#shopImages {
  margin-bottom: 1rem;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#shopImages.fade-out {
  opacity: 0;
}

#firstParagraph {
  border-top: 1px solid var(--wildGreen);
  padding-top: 1rem;
  max-width: 480px;
}

#firstParagraph,
.shopParagraphs,
.shopMiddleParagraphs {
  max-width: 480px;
}

.shopMiddleParagraphs {
  margin-bottom: 1rem;
  text-align: justify;
}

#bottomParagraph {
  margin-bottom: 0;
}

.missionItem {
  color: var(--wildGreen);
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 1rem;
}

#shopLinksContainer {
  display: flex;
  margin-top: 2rem;
}

.shopLinks {
  margin: 1rem;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildGreen);
  border-radius: 5px;
  border: 2px solid var(--wildGreen);
}
