#tattoos {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* main tattoo page */

#tattooHeader,
#artistHeader {
  font-weight: bold;
}

#artistHeader {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--wildGreen);
}

.shopMiddleParagraphs {
  max-width: 480px;
}

.shopMiddleParagraphs {
  color: black;
  margin-bottom: 1rem;
  text-align: justify;
}

#bottomParagraph {
  margin-bottom: 0;
}

.missionItem {
  color: black;
  font-size: 18px;
  font-style: italic;
  padding: 0rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#artistLinksContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.artistLink {
  margin: 1rem;
  padding: 0.1rem 0.5rem 0.2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--wildGreen);
  border-radius: 5px;
  border: 2px solid var(--wildGreen);
}

/* artist pages */

#artistContainer {
  display: flex;
  align-items: center;
}

#artistHeader {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#artistIgIcon {
  padding-top: 0.5rem;
  font-size: 30px;
  margin-left: 1rem;
}

a:visited,
a:link {
  color: var(--wildGreen);
}

#artistAbout {
  line-height: 1.8;
  color: black;
  max-width: 480px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#tattooSection {
  margin: 2rem 10rem 2rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tattooSlide {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.tattoo {
  border-radius: 5px;
  height: 500px;
}

.mercedesTattoo {
  border-radius: 5px;
  height: 400px;
}

#arrowSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  background-color: white;
  border-radius: 5px;
  margin: 0rem 1rem 0rem 1rem;
  font-size: 40px;
  cursor: pointer;
}

#tattooGallery,
#mercedesGallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
}

#tattooGallery img {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  max-width: 100%;
  height: 120px;
}

#mercedesGallery img {
  margin: 0rem 0.2rem 0.2rem 0.2rem;
  max-width: 100%;
  height: 100px;
}

.indicator {
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
}

.indicator:hover {
  border: 2px solid var(--wildGreen);
}

@media (max-width: 1380px) {
  #tattoos {
    margin: 1rem;
  }

  #artistHeader {
    flex-direction: row;
  }

  #tattooSection {
    margin: 1rem 0rem 2rem 0rem;
  }

  .tattoo,
  .mercedesTattoo {
    width: 300px;
    height: auto;
  }
  .arrow {
    position: absolute;
    margin-left: -1.3rem;
    text-align: center;
  }
  #tattooGallery,
  #mercedesGallery {
    display: none;
  }
}
