* {
  --wildBlue: rgb(101, 193, 220);
  --wildBackground: rgb(226, 209, 189);
  --wildGreen: rgb(124, 155, 63);
}

#contact {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-bottom: 1rem;
}

#header {
  margin-top: 1rem;
  font-weight: bold;
}

.headerTagline {
  color: black;
  font-weight: normal;
  margin-bottom: .5rem;
}

#reviewLink {
  text-decoration: none;
}

#reviewFaq {
  padding: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: var(--wildGreen);
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--wildGreen);
}

.contactLink {
  text-decoration: none;
}

.contactButtons {
  padding: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: var(--wildGreen);
  border-radius: 5px;
  border: 2px solid var(--wildGreen);
  margin: 1rem;
  margin-top: 0;
}

#formHeader {
  margin-bottom: 0rem;
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 480px;
  border-top: solid 1px var(--wildGreen);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--wildGreen);
}
.label {
  color: var(--wildGreen);
}
.form,
#messageForm,
#formSubmit {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

#messageForm {
  height: 100px;
  padding: 0.5rem;
  margin-bottom: 0;
}

#required {
  font-size: 12px;
  margin-bottom: 1rem;
}

#formSubmit {
  border: none;
  background-color: var(--wildBlue);
  color: white;
  height: 28px;
  cursor: pointer;
}

#contactInfoContainer {
  margin-bottom: 2rem;
}

.contactInfo {
  margin: 1rem;
}

.contactInfo a:link,
.contactInfo a:visited {
  color: black;
  margin: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--wildGreen);
}

#hoursContainer {
  display: flex;
  flex-direction: row;
}

#hour {
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

#hours {
  display: flex;
  flex-direction: column;
}

.times {
  color: black;
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

#timesTop {
  margin-bottom: .5rem;
}

#bold {
  font-weight: bold;
  border-bottom: 1px solid var(--wildGreen);
}

