nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  z-index: 999;
  background-color: rgb(226, 209, 189);
}

#navLogo {
  max-width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#faqContainer {
  display: flex;
  margin-top: 1rem;
  margin-right: 0.5rem;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

#faqIcon {
  color: #7aa03f;
  font-size: 35px;
}

/* hamburger */

#hamMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger {
  position: relative;
  width: 25px;
  height: 3px;
  background: #7aa03f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #7aa03f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  top: 10px;
  left: 0px;
}

.menuButtonBurger::after {
  top: -10px;
}

.menuButtonBurger::before {
  transform: translateY(-16px);
}

.menuButtonBurger::after {
  transform: translateY(16px);
}

/* animation */

.menuButtonBurger.open {
  background: transparent;
}

.menuButtonBurger.open::before {
  transform: rotate(-45deg) translate(0, 0);
  top: 0;
}

.menuButtonBurger.open::after {
  transform: rotate(45deg) translate(0, 0);
  top: 0;
}

/* menu */

.menu {
  margin: 0.5rem;
  margin-top: 0;
  background-color: white;
  display: none;
  z-index: 1000;
}

.menu.active {
  display: flex;
  justify-content: space-between;
}

.navContainer {
  display: flex;
  justify-content: left;
  text-decoration: none;
}
.navItem {
  margin-top: 2px;
  list-style-type: none;
}

.navItem a {
  padding: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.8s, border-radius 0.3s, border 0.3s; /* Add transitions for the properties you want to animate */
}

.navItem a:link,
.navItem a:visited {
  color: #7aa03f;
}

.navItem a:hover,
#navItem a:focus {
  border-radius: 10px;
  background-color: rgba(101, 193, 220, 0.2);
  border: solid 1px #7aa03f;
}
.linkIcon {
  font-size: 20px;
  margin-right: 0.5rem;
}

.link {
  visibility: hidden;
}
.navItem:hover .link {
  visibility: visible;
}
