* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light grey;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.popUpOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.popUpContent {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

#checkout {
  width: 100vw;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center; /* Ensure this is 'center' to align items properly in the middle */
  z-index: 1000; /* High z-index to keep it above other content */
  background-color: rgb(241, 234, 234);
}

#navLogo {
  margin-top: 10px;
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#faqContainer {
  display: flex;
}
#faqIcon {
  color: #7aa03f;
  font-size: 60px;
  margin-right: 1rem;
 
}

#hamMenuContainer {
  display: flex;
}

#hamMenu {
  color: #7aa03f;
  font-size: 50px;
  margin-left: .5rem;
  
}

#menuContainer {
  position: relative;
}

.menu {
 
  background-color: white;
  display: none;
  top: 0;
  z-index: 1000;
  border-bottom: solid 1px #7aa03f;
}

.menu.active {
  display: flex;
  justify-content: space-between;
}

/*.overlay {
  position: fixed;
  top: 310px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    162,
    106,
    105,
    0.4
  ); 
  z-index: 999; 
  display: none;
}*/

.navContainer {
  display: flex;
  justify-content: left;
}
.navItem {
  list-style-type: none;
}

.navItem a {
  padding: 10px;
  align-items: center;
  font-size: 18px;
}

.navItem a:link,
.navItem a:visited {
  color: rgb(117, 106, 187);
}

.navItem a:hover {
  background-color: aliceblue;
  transition: all;
}
.linkIcon {
  padding: 5px;
  padding-right: 5px;
  font-size: 40px;
}
.link {
  visibility: hidden;
}
.navItem:hover .link {
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
