:root {
    /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Urbanist", sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  body {
    font-family: "Urbanist", sans-serif;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  
  li {
    margin-left: .5rem;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .popUpOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popUpContent {
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    background-color: white;
    /*border: 1rem solid white; /* Optional: styling for the content border */
    overflow-y: auto;
    overflow-x: hidden;
    /*box-sizing: border-box; /* Makes sure padding and borders are included in width/height */
  }

  #checkout {
    width: 100vw;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Ensure this is 'center' to align items properly in the middle */
    position: fixed;
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Stretch across the left edge */
    right: 0; /* Stretch across the right edge */
    z-index: 1000; /* High z-index to keep it above other content */
  }

  #hamMenu {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    position: relative;
    margin-right: 2rem;
    align-items: center;
    width: 45px;
    height: 45px;
    transition: all .5s ease-in-out;
    border: 3px solid green;
  }
  
  .menuButtonBurger {
    position: relative;
    width: 25px;
    height: 3px;
    background: green;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    display: block;
    cursor: pointer;
  }
  
  .menuButtonBurger::before, .menuButtonBurger::after {
    content: '';
    position:absolute;
    width: 25px;
    height: 3px;
    background: rgb(162, 106, 105);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    left: 0;
    transform-origin: center;
    top: 10px;
  }
  
  .menuButtonBurger::after {
    top: -10px;
  }
  
  .menuButtonBurger::before {
    transform: translateY(-16px);
  }
  
  .menuButtonBurger::after {
    transform: translateY(16px);
  }
  
  /* animation */
  
  .menuButtonBurger.open {
    background: transparent;
  }
  
  .menuButtonBurger.open::before {
    transform: rotate(-45deg) translate(0, 0);
    top: 0;
  }
  
  .menuButtonBurger.open::after {
    transform: rotate(45deg) translate(0, 0);
    top: 0;
  }
  
  .menu {
    background-color: rgba(245, 248, 248, 0.958);
    position: absolute;
    margin-top: 2.5rem;
    display: none;
    top: 100%;
    right: 0px;
    width: 100px;
    z-index: 1000;
  }
  
  .menu.active {
    display: block;  
  }
  
  .overlay {
    position: fixed;
    top: 310px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(162, 106, 105, 0.4); /* Semi-transparent reddish overlay */
    z-index: 999; /* Ensure this is higher than page content but lower than the menu */
    display: none;
  }
  
  .navItem {
    list-style-type: none;
  }
  
  .navItem a {
    border-radius: 10px;
    font-size: 18px;
    display: block;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    margin-right: 0;
    text-align: center;
  }
  
  .navItem a:link,
  .navItem a:visited {
    color: rgb(117, 106, 187);
  }
  
  /*
  Change this to underline items when hover or something like that
  .navItem a:hover {
    background-color: rgb(117, 106, 187);
    color: white;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  */