* {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;

  --wildBlue: rgb(101, 193, 220);
  --wildBackground: rgb(226, 209, 189);
  --wildGreen: rgb(124, 155, 63);
}

#root {
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

button {
  color: var(--wildGreen);
  display: flex;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 8px;
  font-size: 15px;
  border-color: var(--wildGreen);
  background-color: white;
  cursor: pointer;
  transition: background-color 0.5s;
}

#iconButton, #popUpButton {
  color: var(--wildGreen);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(229, 223, 223);
  cursor: pointer;
  transition: border 0.1s;
}

#popUpButton {
  font-size: 20px;
  padding: 5px;
}

button:hover {
  background-color: rgba(101, 193, 220, 0.2);
}


#checkout {
  width: 100vw;
}

/* tattoos */

#tattoos {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#artistContainer {
  display: flex;
  align-items: center;
}

#artistHeader {
 font-weight: bold;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

#artistIgIcon {
  font-size: 30px;
}

#artistIgIcon a:visited, #artistIgIcon a:link {
  color: var(--wildGreen);
}

#artistAbout {
  line-height: 1.8;
  color: black;
  max-width: 480px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#tattooSection {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#tattooSlide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: end;

}

.tattoo {
  height: 500px;
}

#tattooButton {
  margin-top: .5rem;
  padding: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--wildGreen);
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--wildGreen);
  cursor: pointer;
}

#tattooGallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
}

#tattooGallery img {
  margin: 1rem;
  margin-top: 0;
  max-width: 100%;
  height: 120px;
}

/* home */

#home {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#headerHome {
  font-weight: bold;
}




