* {
  --wildBlue: rgb(101, 193, 220);
  --wildBackground: rgb(226, 209, 189);
  --wildGreen: rgb(124, 155, 63);
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 480px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.label {
  font-weight: bold;
  color: var(--wildGreen);
}
.form,
#messageForm,
#formSubmit {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

#tattooSizeForm,
#tattooLocation,
#tattooSizeContainer {
  width: 480px;
}

.formSectionContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#attachFile,
#tattooSizeContainer {
  display: flex;
  flex-direction: column;
}

#file {
  border: none;
  padding: 0;
  padding-top: 0.25rem;
}

#messageForm {
  height: 100px;
  padding: 0.5rem;
  margin-bottom: 0;
}

#required {
  font-size: 12px;
  margin-bottom: 1rem;
}

#formSubmit {
  margin-top: 1rem;
  font-size: 16px;
  border: 1px solid black;
  background-color: rgb(236, 232, 232);
  color: black;
  cursor: pointer;
}

.error {
  color: black;
}

.selectTimeContainer {
  display: flex;
  align-items: center;
}

.timeForm {
  background-color: rgb(236, 232, 232);
  margin: 0.5rem;
  margin-left: 0;
  border: 1px solid black;
  padding: 0.2rem;
  border-radius: 5px;
}

#addTime {
  margin-left: .5rem;
}

#addMoreButton {
  display: flex;
  align-items: center;
  color: black;
  background-color: rgb(236, 232, 232);
  font-size: 12px;
  border: 1px solid var(--wildGreen);
  padding: 0.2rem;
  border-radius: 5px;
  margin-left: .5rem;
  cursor: pointer;
}

#addSymbol {
  font-size: 20px;
}

.selectedTimesContainer {
  display: flex;
}

.timeEntry {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.3rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#removeButton {
  color: var(--wildGreen);
  display: flex;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(229, 223, 223);
  cursor: pointer;
  transition: border 0.1s;
  font-size: 20px;
  padding: 5px;
  margin-left: 0.5rem;
}

@media (max-width: 586px) {
  #requestContact {
    margin: 1rem;
    margin-top: 0;
  }
  #requestHeader {
    text-align: center;
    padding-bottom: 1rem;
  }
  #contactForm,
  #tattooSizeForm,
  #tattooLocation,
  #tattooSizeOption {
    width: 100%;
  }
  #tattooSizeContainer {
    width: 100%;
  }
}
