* {
  --wildBlue: rgb(101, 193, 220);
  --wildBackground: rgb(226, 209, 189);
  --wildGreen: rgb(124, 155, 63);
}

#reviewPage {
  color: var(--wildGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#reviewHeader {
  font-weight: bold;
}

#reviewTag {
  color: black;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--wildGreen);
}

#reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  max-width: 480px;
}

.review {
  color: black;
  margin: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

#ratingSection {
  color: var(--wildGreen);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--wildGreen);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.rating {
  margin-right: 0.5rem;
}

.stars {
  display: flex;
  align-items: center;
  color: var(--wildGreen);
}

.clientReview {
  font-style: italic;
  margin-bottom: 1rem;
}

#readMoreLink {
    text-decoration: none;
}

#readMore {
    padding: 0.1rem;
    text-align: center;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: var(--wildGreen);
    border-radius: 5px;
    border: 2px solid var(--wildGreen);
    margin-bottom: 2rem;
}
